body,h1,h2,h3,ul,li{
    margin: 5;
    padding:5;
}
h1{
    color:black
}
body{
    background-color:blueviolet;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}